DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST="postgres"
DATABASE_PORT="5432"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL=""

JWT_SECRET="mysupersecret"
JWT_EXPIRES_IN="7" # days